/*** BASIC SETUP ***/
.elo {
  width: 100%;
  max-width: 15em;
}

body {
  font-family: 'Inconsolata', sans-serif;
  --font-size: var(--ms-1);
  font-size: var(--final-font-size);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  min-width: 302px;
  max-width: 1200px;
  margin: auto;
}

p {
  line-height: inherit;
  font-size: 12rem;
}

h1 {
  font-size: 80rem;
  line-height: 1.2;
  border-bottom: 3px solid #ffffff;
  border-radius: 1px;
  display: inline-block;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 50rem;
  color: var(--mint-color);
}

h3 {
  font-size: 35rem;
}

a,
button {
  cursor: pointer;
}

/*** NAVIGATION ***/

.navigation {
  background-color: var(--pink-color);
  color: var(--blue-color);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 2;
}

.navigation--active {
  transform: translateY(0px);
  transition: transform 0.3s 0.1s ease-in-out;
}

.navigation__btn {
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--pink-color);
  z-index: 9999;
}

.navigation__list_item {
  margin-bottom: 1em;
}

.navigation__list_item a {
  padding: 0.5em 1em;
}

/*** HEADER ***/

header {
  z-index: -2;
}

.h-letter,
.d-letter,
.p-letter {
  position: absolute;
  z-index: -1;
  bottom: 2em;
  left: 2em;
}

.header__left_content,
.header__mid p,
.header__right p {
  grid-column: 2/3;
  margin-top: 2em;
  text-align: right;
}

.header__left,
.header__mid,
.header__right {
  position: relative;
  color: #ffffff;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  align-items: end;
  z-index: 1;
}

.header__mid p,
.header__right p {
  min-width: 18em;
}

.header__left {
  background-color: var(--blue-color);
  padding: 3em 1em 2em;
}

.h-letter {
  width: 10em;
}

.header__left_content p {
  max-width: 24em;
  display: inline-block;
  text-align: right;
}

.header__mid {
  background-color: var(--mint-color);
  padding: 3em 1em;
  min-height: 12em;
}

.d-letter {
  width: 7em;
}

.header__right {
  background-color: var(--pink-color);
  padding: 3em 1em;
  min-height: 12em;
}

.p-letter {
  width: 6em;
}

/*** MAIN ***/
.short-info {
  color: var(--blue-color);
  text-align: center;
  margin: 2em 1em 0;
}

main {
  padding: 0 1em;
  margin: auto auto 1em auto;
  display: grid;
  grid-gap: 2em;
  max-width: 900px;
}

.main__heading {
  margin-left: 0.2em;
}

.main__pineapp,
.main__city,
.main__healthy {
  display: grid;
}

figure {
  position: relative;
  width: 80%;
}

figcaption {
  font-size: 20rem;
  position: absolute;
  color: #367e79;
}

.main__pineapp__img,
.main__city__img {
  margin-left: 0.5em;
}

.main__pineapp__img::before,
.main__city__img::before {
  content: '';
  position: absolute;
  top: -1em;
  left: -0.8em;
  width: 1em;
  height: 9em;
  background-color: var(--mint-color);
}

.main__pineapp_caption,
.main__city_caption {
  transform: rotate(-90deg);
  top: 2.2em;
  left: -3.5em;
}

.main__pineapp__info,
.main__city__info {
  display: inline-block;
  justify-self: end;
}

.visit__caps {
  margin-top: 1.5em;
}

.main__healthy__img {
  justify-self: end;
  margin-right: 0.5em;
}

.main__healthy_caption {
  transform: rotate(90deg);
  top: 3em;
  right: -4.1em;
}

.main__healthy__img::before {
  content: '';
  position: absolute;
  top: -1em;
  right: -0.6em;
  width: 1em;
  height: 10.5em;
  background-color: var(--mint-color);
}

/*** TEAM SECTION ***/

.team {
  max-width: 1100px;
  margin: auto;
}

.team h2 {
  font-size: 60rem;
  color: var(--blue-color);
  margin-left: 0.5em;
}

.team__img {
  width: 100%;
  display: grid;
}

.team__img img {
  width: 100%;
}

.team__img_caption {
  color: #ffffff;
  font-size: 15rem;
  top: 2em;
  justify-self: center;
}

.team__info {
  padding: 1em 3em;
  max-width: 40em;
}

.team__info h3 {
  margin-bottom: 1em;
  color: #0050b3;
  max-width: 6em;
}

/*** CONTACT SECTION ***/

.contact {
  max-width: 900px;
  margin: auto;
}

.contact h2 {
  font-size: 70rem;
  color: #ff9298;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

form ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  list-style: none;
  margin-bottom: 3em;
}

input,
textarea {
  padding: 0.5em 0.2em;
  color: #ff9298;
  border: none;
  border-bottom: 2px solid #ff9298;
  width: 15em;
  outline: 0;
}

.contact__info {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3em;
}

.contact__info img {
  margin-right: 0.5em;
}

.contact__info p {
  margin-top: 1em;
}

/*** FOOTER ***/

footer {
  position: relative;
  background: var(--pink-color);
  padding: 0.5em;
  height: 10em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

footer p {
  color: #ffffff;
  z-index: 2;
  margin-left: 5%;
}

.footer__icons {
  justify-self: center;
}

.footer__icon {
  width: 3em;
  padding: 0.5em;
}

.footer__social {
  position: absolute;
  bottom: 1em;
  width: 90%;
  justify-self: center;
  z-index: 1;
  max-width: 70%;
}

@media (min-width: 500px) {
  .elo {
    max-width: 100%;
  }

  main {
    grid-gap: 0;
    padding: 0 1.5em;
  }

  .main__pineapp,
  .main__city,
  .main__healthy {
    grid-template-columns: repeat(2, 1fr);
  }

  figure {
    grid-row: 1/2;
    width: 100%;
  }

  .elo {
    height: 100%;
    width: 100%;
  }

  .main__pineapp__img,
  .main__city__img,
  .main__healthy__img {
    margin: 0;
  }
  .main__pineapp__info,
  .main__city__info {
    justify-self: start;
    margin: 1.5em 2em;
  }

  .main__healthy__info {
    text-align: end;
    justify-self: end;
    margin: 1.5em 2em;
  }

  .main__healthy figure {
    grid-column: 2/3;
  }
}

@media (min-width: 630px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7em 1fr;
  }

  form {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .contact__info {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 70% 30%;
  }

  .contact__info img {
    align-self: center;
    height: 80%;
  }

  .contact__info p {
    margin-top: 2.5em;
    width: 100%;
    justify-self: start;
  }
}

@media (min-width: 730px) {
  header {
    height: 40vh;
    display: grid;
  }

  .h-letter {
    width: 65%;
  }
  .d-letter {
    width: 60%;
  }

  .p-letter {
    width: 48%;
  }
  .header__mid p,
  .header__right p {
    min-width: 16em;
    max-width: 18em;
    grid-column: 1/2;
    margin-left: 0.5em;
  }

  .header__left {
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__mid,
  .header__right {
    grid-template-columns: 1fr;
    justify-content: start;
  }

  .header__mid {
    grid-column: 3/4;
  }
  .header__right {
    grid-column: 4/5;
  }

  .header__left_content {
    grid-column: 2/3;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6em 1fr;
  }

  .team h2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .team__img {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .team__img img {
    height: 100%;
    object-fit: cover;
  }

  .team__info {
    font-size: 10rem;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1em 1em;
  }

  .contact__info {
    grid-template-columns: 60% 40%;
  }
}

@media (min-width: 768px) {
  .navigation__btn {
    display: none;
  }

  .navigation {
    background-color: var(--blue-color);
    color: var(--mint-color);
    transform: translateY(0);
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .navigation__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .navigation__list_item a {
    margin-right: 1em;
  }
}

@media (min-width: 900px) {
  .navigation {
    width: 50%;
    max-width: 29.9em;
    left: auto;
  }

  .navigation__list_item a {
    padding: 0.5em;
  }

  header {
    height: 55vh;
    grid-template-columns: repeat(4, 25%);
  }

  .h-letter {
    max-width: 17em;
  }
  .d-letter {
    max-width: 65%;
  }

  .p-letter {
    max-width: 65%;
  }
}
