/*** BASIC SETUP ***/

body {
  font-family: 'Inconsolata', sans-serif;
  --font-size: var(--ms-1);
  font-size: var(--final-font-size);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  min-width: 215px;
}

p {
  line-height: inherit;
}

h1 {
  --font-size: var(--ms-8) * 2.5;
  font-size: var(--final-font-size);
  line-height: 1.2;
  display: inline-block;
  border-bottom: 5px solid #ffffff;
  border-radius: 1px;
  margin-bottom: 0.2em;
}

h2 {
  --font-size: var(--ms-5);
  font-size: var(--final-font-size);
}

h3 {
  --font-size: var(--ms-4);
  font-size: var(--final-font-size);
}

a,
button {
  cursor: pointer;
}

/*** NAVIGATION ***/

nav {
  position: sticky;
}

.navigation {
  background-color: var(--pink-color);
  color: var(--blue-color);
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 999;
}

.navigation--active {
  transform: translateY(0px);
  transition: transform 0.3s 0.1s ease-in-out;
}

.navigation__btn {
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -2em;
  right: 0;
  background-color: var(--pink-color);
}

.navigation__list_item {
  margin-bottom: 1em;
}

.navigation__list_item a {
  padding: 0.5em 1em;
}

/*** HEADER ***/

.header__left {
  background-color: var(--blue-color);
  color: #ffffff;
  padding: 3em 1em;
  position: relative;
  z-index: -2;
}

.h-letter {
  width: 8em;
}

.h-letter,
.d-letter,
.p-letter {
  position: absolute;
  z-index: -1;
}

.header__left_content {
  margin-top: 2em;
}

.header__mid {
  background-color: var(--mint-color);
  color: #ffffff;
  padding: 3em 1em;
  position: relative;
  z-index: -2;
  min-height: 12em;
  display: grid;
  align-items: end;
}

.d-letter {
  width: 6em;
  bottom: 3em;
  left: 1em;
}

.header__right {
  background-color: var(--pink-color);
  color: #ffffff;
  padding: 3em 1em;
  position: relative;
  z-index: -2;
  min-height: 12em;
  display: grid;
  align-items: end;
}

.p-letter {
  width: 6em;
  bottom: 2em;
  left: 1em;
}
