/*** BASIC SETUP ***/
.elo {
  width: 20px;
}

body {
  font-family: 'Inconsolata', sans-serif;
  --font-size: var(--ms-1);
  font-size: var(--final-font-size);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  background-size: cover;
  min-width: 302px;
}

p {
  line-height: inherit;
  --font-size: var(--ms-0);
  font-size: var(--final-font-size);
}

h1 {
  font-size: 80rem;
  line-height: 1.2;
  border-bottom: 3px solid #ffffff;
  border-radius: 1px;
  display: inline-block;
  margin-bottom: 0.2em;
}

h2 {
  --font-size: var(--ms-5);
  font-size: var(--final-font-size);
}

h3 {
  --font-size: var(--ms-4);
  font-size: var(--final-font-size);
}

a,
button {
  cursor: pointer;
}

/*** NAVIGATION ***/

.navigation {
  background-color: var(--pink-color);
  color: var(--blue-color);
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s 0.1s ease-in-out;
  z-index: 2;
}

.navigation--active {
  transform: translateY(0px);
  transition: transform 0.3s 0.1s ease-in-out;
}

.navigation__btn {
  width: 5em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--pink-color);
  z-index: 9999;
}

.navigation__list_item {
  margin-bottom: 1em;
}

.navigation__list_item a {
  padding: 0.5em 1em;
}

/*** HEADER ***/

header {
  z-index: -2;
}

.h-letter,
.d-letter,
.p-letter {
  position: absolute;
  z-index: -1;
}

.header__left {
  background-color: var(--blue-color);
  color: #ffffff;
  padding: 3em 1em 2em;
  position: relative;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  z-index: 1;
}

.header__left_content,
.header__mid p,
.header__right p {
  grid-column: 2/3;
  margin-top: 2em;
  text-align: right;
}

.h-letter {
  width: 10em;
  bottom: 2em;
  left: 2em;
}

.header__left_content p {
  font-size: 12rem;
  max-width: 24em;
  display: inline-block;
  text-align: right;
}

.header__mid {
  background-color: var(--mint-color);
  color: #ffffff;
  padding: 3em 1em;
  position: relative;
  min-height: 12em;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  align-items: end;
  z-index: 1;
}

.d-letter {
  width: 7em;
  bottom: 2em;
  left: 2em;
}

.header__mid p {
  font-size: 12rem;
  min-width: 18em;
}

.header__right {
  background-color: var(--pink-color);
  color: #ffffff;
  padding: 3em 1em;
  position: relative;
  min-height: 12em;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  align-items: end;
  z-index: 1;
}

.p-letter {
  width: 6em;
  bottom: 2em;
  left: 2em;
}

.header__right p {
  font-size: 12rem;
  min-width: 18em;
}
